div.edit-patient
    form(name="editPatientForm", novalidate="")
        .row
            .col-md-6
                .has-feedback.form-group-lg(ng-class="{'has-error': editPatientForm.name.$invalid, 'has-success': editPatientForm.name.$valid}")
                    input(type="text", name="name", ng-model="patient.name", placeholder="Name").form-control.input-lg
                    temp-input(fieldname="editPatientForm.name", vmsg="Name is required", model="patient.name", placeholder="Name")


        ////    .col-sm-6
        ////        button.btn.btn-default.btn-heading(ng-click="editPatient=false") Stop editing
        //.row
        //    .col-sm-4
        //        label ID:
        //        span {{patient.id}}
        //    .col-sm-4
        //        label Date of Birth:
        //        span {{patient.dob | printableDate}}
        //    .col-sm-4
        //        label Sex:
        //        span {{patient.sex}}